server:
  port: 8090

spring:
  application:
    name: auth

  datasource:
    url: jdbc:postgresql://localhost:5440/${DB_NAME:test_db}
    username: ${DB_USERNAME:test_user}
    password: ${DB_PASSWORD:test_password}
    driver-class-name: org.postgresql.Driver
    hikari:
      maximum-pool-size: 20
      minimum-idle: 5

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        jdbc:
          lob:
            non_contextual_creation: true
    show-sql: false

  liquibase:
    change-log: classpath:db/changelog/db.changelog-master.yaml
    liquibase-schema: public
    default-schema: auth_db
    enabled: true


jwt:
  secret: ${JWT}
  expiration: 3600000  # 1 час
  refresh-expiration-ms: 604800000  # 7 дней

endpoints:
  users-service: http://localhost:8100
  api-gateway: http://localhost:8080

logging:
  level:
    ru.binarysimple: INFO
    org.hibernate.SQL: DEBUG
    org.hibernate.orm.jdbc.bind: TRACE
    org.springframework.web: DEBUG
    org.springdoc: WARN
    io.swagger: WARN

management:
  endpoints:
    web:
      exposure:
        include: health,info, prometheus
  endpoint:
    health:
      show-details: always
  metrics:
    tags:
      application: ${spring.application.name}
    export:
      prometheus:
        enabled: true
    distribution:
      percentiles-histogram:
        "[http.server.requests]": true

info:
  app:
    name: "Auth Service"