apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  labels:
    app: auth-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      containers:
        - name: auth-service
#          envFrom:
#            - configMapRef:
#                name: auth-service-config
          image: binarysimple/simple-auth-service:0.0.1
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_PROFILES_ACTIVE
              value: "kubernetes"
            - name: DATASOURCE_URL
              value: jdbc:postgresql://postgresql:5432/auth_db
            - name: DATASOURCE_USERNAME
              value: auth_user
            - name: DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: auth-db-secret
                  key: password
            - name: SPRING_CONFIG_ADDITIONAL_LOCATION
              value: file:/app/config/
            - name: JWT
              valueFrom:
                secretKeyRef:
                  name: jwt-secret
                  key: secret
#          resources:
#            requests:
#              memory: "256Mi"
#              cpu: "250m"
#            limits:
#              memory: "512Mi"
#              cpu: "500m"
          volumeMounts:
            - name: config-volume
              mountPath: /app/config
              readOnly: true

          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8080
            initialDelaySeconds: 45
            periodSeconds: 10
            timeoutSeconds: 5
      volumes:
        - name: config-volume
          configMap:
            name: auth-service-config
            items:
              - key: application-kubernetes.yaml
                path: application-kubernetes.yaml
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
spec:
  selector:
    app: auth-service
  ports:
    - port: 8080
      targetPort: 8080
  type: ClusterIP