name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Get version from Gradle
        id: gradle_version
        run: |
          # Простое получение версии проекта
          VERSION=$(./gradlew properties -q | grep "version:" | cut -d ':' -f 2 | xargs)
          
          if [ -z "$VERSION" ]; then
            echo "Error: Could not get version from Gradle"
            exit 1
          fi
          
          echo "Project version: $VERSION"
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT

  build-docker-image:
    needs: build
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build the Docker image
        run: |
          echo "Building Docker image with version: ${{ needs.build.outputs.VERSION }}"
          docker build . --file Dockerfile --tag binarysimple/simple-auth-service:${{ needs.build.outputs.VERSION }}

      - name: Expose version for downstream jobs
        run: |
          echo "VERSION=${{ needs.build.outputs.VERSION }}" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  push-docker-image:
    needs: build-docker-image
    runs-on: ubuntu-latest
    steps:
      - name: Push to Docker Hub
        run: |
          docker push binarysimple/simple-auth-service:${{ needs.build-docker-image.outputs.VERSION }}
