name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false

      - name: Make gradlew executable
        run: chmod +x ./gradlew

      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Build with Gradle
        run: ./gradlew build

  build-docker-image:
    needs: build
    runs-on: ubuntu-latest
    steps:

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build the Docker image
        run: |
          VERSION=$(./gradlew properties -q | grep "version:" | cut -d ':' -f 2 | xargs)
          echo "Building Docker image with version: $VERSION"
          docker build . --file Dockerfile --tag binarysimple/simple-auth-service:$VERSION

      - name: Set job output
        id: docker_build
        run: |
          VERSION=$(./gradlew properties -q | grep "version:" | cut -d ':' -f 2 | xargs)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

  push-docker-image:
    needs: build-docker-image
    runs-on: ubuntu-latest
    steps:
      - name: Push to Docker Hub
        run: |
          docker push binarysimple/simple-auth-service:${{ needs.build-docker-image.outputs.version }}
